<div class="xs-border-bottom xs-mb2 xs-p1 xs-pl2 xs-pr2 fill-white clearfix">
  <div class="wrapper-large xs-mx-auto">
    <div class="col xs-col-6">
      <h1><a href="/" class="caps text-theme">Paul Allen</a></h1>
    </div>

    <div class="col xs-col-6">
      <nav>
        <ul class="list-unstyled xs-flex xs-flex-justify-end xs-flex-align-end">
          <li class="xs-ml3"><a href="/">Posts</a></li>

          <li class="xs-ml3"><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
