//--------------------------------------------------------------
// BASE
//--------------------------------------------------------------
html {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: rem-calc(36);
}
