//--------------------------------------------------------------
// Custom Overrides & Settings
//--------------------------------------------------------------

// Font
$sans: 'Montserrat', Helvetica, Arial, sans-serif;
$slab: 'Montserrat', Helvetica, Arial, sans-serif;

// Max Widths
$large-width: 1200px;
$full-width: 900;
