//--------------------------------------------------------------
// Custom Overrides & Settings
//--------------------------------------------------------------

// Font
$sans: 'Montserrat', Helvetica, Arial, sans-serif;
$slab: 'Montserrat', Helvetica, Arial, sans-serif;

// Color
$fill-blue: #002B36;
$text-blue: #657B83;

// Max Widths
$large-width: 1200px;
$full-width: 900px;

// Theme Colors
$theme-blue: #002B36;
