//--------------------------------------------------------------
// PAUL ALLEN IO THEME
//--------------------------------------------------------------

//-----------------------------------------
// Variables
//-----------------------------------------
$color-white: #FFFFFF;
$color-off-white: #FAFAFA;

// Media Queries
$mq-medium: 640px;
$mq-full: 960px;

@import 'helpers/index.scss';
@import 'partials/reset';
@import 'partials/base';
@import 'partials/layout';
